[submodule "googletest"]
	path = googletest
	url = https://github.com/Alexhuszagh/googletest/
[submodule "gflags"]
	path = gflags
	url = https://github.com/Alexhuszagh/gflags
[submodule "funxx"]
	path = funxx
	url = https://github.com/Alexhuszagh/funxx.git
