[submodule "googletest"]
	path = third_party/googletest
	url = https://github.com/Alexhuszagh/googletest/
[submodule "gflags"]
	path = third_party/gflags
	url = https://github.com/Alexhuszagh/gflags
[submodule "third_party/pycpp"]
	path = third_party/pycpp
	url = https://github.com/Alexhuszagh/pycpp.git
