[submodule "googletest"]
	path = googletest
	url = https://github.com/Alexhuszagh/googletest/
[submodule "gflags"]
	path = gflags
	url = https://github.com/Alexhuszagh/gflags
[submodule "itl"]
	path = itl
	url = https://github.com/Alexhuszagh/itl
